.clients {
  background-color: var(--another-main-color);

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}

.client-item {
  height: 92px;
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 60px) / 2);

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 90px) / 3);
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 180px) / 6);
  }
}

.client-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  background-color: transparent;
  fill: #afb1b8;
  transition: var(--transition-fill),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

  &:focus,
  &:hover {
    fill: var(--accent-color);
    border: 1px solid var(--accent-color);
    outline: none;
  }
}
