.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;

  &__container {
    display: flex;
    align-items: center;
  }

  &__logo {
    @include logo;
    margin-right: 94px;
  }

  &__mail {
    margin-right: 50px;
    margin-left: auto;
  }

  &__contacts {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--small-text-color);
    fill: var(--small-text-color);
    transition: var(--transition-color), var(--transition-fill);
  }

  &__icon {
    margin-right: 10px;
  }

  &__contacts:hover,
  &__contacts:focus {
    color: var(--accent-color);
    fill: var(--accent-color);
    outline: none;
  }
}
