.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: var(--another-main-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #000000;
  cursor: pointer;
  transition: var(--transition-fill);

  &:hover,
  &:focus {
    fill: var(--accent-color);
    outline: none;
  }
}

.close-icon {
  visibility: inherit;
  pointer-events: inherit;
}
